:root {
    --navy: rgba(27, 27, 93, 0.95);
    --olive: rgba(79, 109, 94, 0.715);
    --welcome-gray: rgba(255, 255, 255, 0.634);
    --green: #163f30bd;
    --backgroundcolor: rgba(210, 210, 162, 0.598);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--olive);
    font-family: 'Cambria', Cochin, Georgia, sans-serif, serif;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    margin: 2%; 
    padding: 2%;
    font-size: 1.5em;
    font-weight: 600;
}

#highscore {
    justify-content: flex-start;
    color: rgba(114, 29, 118, 0.826);
    cursor: pointer;
}

#highscore:hover {
    color: var(--navy);
}

#timer {
    justify-content: flex-end;
    color: --navy;
}

.homepage {
    text-align: center;
    margin: 2%;
    padding: 4%;
    font-size: 1.75em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.h1style, .pstyle, .btn-style, .divbutton, .h5style{
    padding: 2%;
}

#start {
    background-color: var(--navy);
    color: rgba(255, 255, 255, 0.918);
    font-size: 80%;
    border-radius: 10%;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 40%;
}

#start:hover {
    background-color: rgba(218, 165, 32, 0.607);
}

.h5style {
    color: rgba(34, 29, 74, 0.436);
    display:none;
}