:root {
    --navy: rgba(27, 27, 93, 0.95);
    --olive: rgba(79, 109, 94, 0.715);
    --welcome-gray: rgba(255, 255, 255, 0.634);
    --green: #163f30bd;
    --backgroundcolor: rgba(210, 210, 162, 0.598);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Cambria', Cochin, Georgia, sans-serif, serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--olive);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 3%; 
    padding: 2%;
    font-size: 1.5em;
    font-weight: 600;
}

#viewhighscore {
    justify-content: flex-start;
    color: rgba(114, 29, 118, 0.826);
    cursor: pointer;
    text-decoration: none;
}

#highscore:hover {
    color: var(--navy);
}

#timer {
    justify-content: flex-end;
    color: --navy;
}

.h-style {
    text-align: center;
    margin: 1%;
    padding: 2%;
    font-size: 1.80em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.btn {
    background-color: var(--navy);
    color: rgba(255, 255, 255, 0.918);
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;;
    cursor: pointer;
    width: 25%;
    padding: 2%;
    margin: 1%;
}

.btn:hover {
    background-color: rgba(218, 165, 32, 0.607);
}

.btn-flex {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1);
    gap: 5px;
    margin: 10px, 0;
    align-items: center;
    ;
}

#h3-style {
    color:  rgba(114, 29, 118, 0.826);
}

.hide {
   display: none;
} 